.Login {
  margin: 20px;
  border: 1px solid $gray-dark;
  border-radius: 2px;
  background: $white;
  max-width: 400px;
  padding: 20px;
}

.Login h2 {
  margin-left: 10px;
  margin-bottom: 20px;
}

@media (min-width: 451px) {
  .Login {
    margin-left: 170px;
    margin: 20px auto;
  }

  .Login h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .Login__form {
    text-align: center;
  }
}
