.SideBar__header {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 400;
}
.SideBar__header::after {
  content: ':';
}

.SideBar__categories,
.SideBar__login {
  font-weight: normal;
  font-size: 1em;
  display: flex;
  flex-direction: row;
}

.SideBar__categories,
.SideBar__login {
  justify-content: flex-start;
}

.SideBar__categories li,
.SideBar__login li {
  font-weight: normal;
  margin-right: 10px;
  margin-top: 10px;
  color: $primary-green;
  &:hover {
    color: $primary-orange;
    cursor: pointer;
  }
}

@media (min-width: 451px) {
  .SideBar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 80;
    left: 0;
    background-color: $white;
    overflow-x: hidden;
    padding-left: 20px;
    padding-top: 20px;
  }

  .SideBar__header {
    display: block;
  }

  .SideBar__header::after {
    content: '';
  }

  .SideBar__categories,
  .SideBar__login {
    font-weight: bold;
    font-size: 1.2em;
    display: block;
  }

  .SideBar__login {
    margin-top: 20px;
    padding-top: 10px;
    margin-right: 30px;
    border-top: 2px solid $gray-dark;
  }
}
